/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.bg-light {
    background-color: #F5F5F5 !important;
}

.text-center {
    color: #FFFFFF;
}

/* Navbar Styles */
.navbar, .header {
    background-color: rgba(0, 123, 255, 0.4); 
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.navbar-nav .nav-item .nav-link {
    font-size: larger;
    color: #ffd700 !important;
}

.navbar-nav .nav-item .nav-link:hover {
    font-size: larger;
    color: #e6b800 !important; 
}

.navbar-nav {
    margin-left: auto; /* Alinea los enlaces a la derecha */
}

/* Header Styles */
.header h1 {
    color: #FFFFFF; /* Aplica el color blanco solo al h1 de la clase header */
}

/* Footer Styles */
.footer {
    border-top: 1px solid #ddd;
    background-color: rgba(245, 245, 245, 0.4); /* el .4 o sea lo último, es la opacidad */
}

.footer p {
    color: #4A4A4A;
}

/* Form Styles */
.form-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.form-container h2 {
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
}

.form-container .form-group {
    margin-bottom: 15px;
}

.form-container .form-label {
    font-weight: bold;
    color: #4A4A4A;
}

.form-container .form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-container .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
}

.form-container .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Password Visibility Toggle */
.input-group .btn-outline-secondary {
    border-radius: 0 5px 5px 0;
}

.input-group .btn-outline-secondary:hover {
    background-color: #e6e6e6;
}

/* Select Field Styles */
.form-container .form-select {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: auto;
}

/* Custom Links */
a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    color: #003d99;
    text-decoration: underline;
}

/* Additional Styles */
.main-text {
    color: #000000;
}

.secondary-text {
    color: #4A4A4A;
}

.tipografia {
    font-style: italic; /* Aplica estilo cursiva */
}
