body {
    background: url('<?php echo APP_URL; ?>app/views/img/872784.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.card-img-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

.card-img-wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.footer {
    border-top: 1px solid #7363b5;
    background-color: rgba(245, 245, 245, 0.4);
    color: #4A4A4A;
}

.bg-light {
    background-color: #d46d6d !important;
}

.text-center {
    color: #080505;
}

.navbar, .header {
    background-color: rgba(0, 123, 255, 0.4);
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.navbar-nav .nav-link {
    font-size: larger;
    color: #ffd700 !important; 
}

.navbar-nav .nav-link:hover {
    font-size: larger;
    color: #e6b800 !important; 
}

.footer p {
    color: #4A4A4A;
}

.btn-primary {
    background-color: #007BFF;
    color: #e371b9;
}

.btn-secondary {
    background-color: #dfb18f;
    color: #1d1f1c;
}

.btn-warning {
    background-color: #FFC107;
    color: #a08989;
}

.btn-danger {
    background-color: #c0dc35;
    color: #17791c;
}

.main-text {
    color: #dccaca;
}

.secondary-text {
    color: #4A4A4A;
}

a {
    color: #0056b3;
}

.card {
    background-color: #f7e3e3;
    border: 1px solid #1d831b;
    border-radius: 5px;
    margin: 10px 0;
}

.card .card-title {
    color: #121111; /* Color blanco para el título de la tarjeta */
}